# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Icon
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# Node.js
node_modules
.node_history
lib-cov
lcov.info
pids
logs
results

# Package managers
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
.tmp

# Misc
*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.tsbuildinfo
.eslintcache

# Tests
coverage

# Strapi/Build
.env
license.txt
exports
.strapi
dist
build
.strapi-updater.json
.strapi-cloud.json